@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .hover-gradient:hover {
    background: linear-gradient(270deg, #C08261, #9A3B3B, #C08261);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .hover-gradient:hover {
    animation: gradient-move 3s ease infinite;
  }
  

  .slick-prev:before,
  .slick-next:before {
      color: #9A3B3B;
  }